<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">

            <li class="main-header_item">
                <a class="<%= path==='/' ? 'active' : '' %>" href="/">Shop</a>
            </li>

            <li class="main-header_item">
                    <a class="<%= path==='/product-list' ? 'active' : '' %>" href="/products">My Products</a>
            </li>

            <li class="main-header_item">
                        <a class="<%= path==='/cart' ? 'active' : '' %>" href="/cart">My Cart</a>
            </li>

            <li class="main-header_item">
                <a class="<%= path==='/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
            </li>

            <li class="main-header_item">
                <a class="<%= path==='/products' ? 'active' : '' %>" href="/admin/admin-product">Admin Product</a>
            </li>


            <li class="main-header_item">
                <a class="<%= path==='/contactUs' ? 'active' : '' %>" href="/contactUs">Contact Us</a>
            </li>
        </ul>
    </nav>
</header>